@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
   
}
body{
    font-family: var(--sm-font);
}

.form-control {
    font-size: 14px;
}

@media screen and (max-width: 994px) {
    .navbar-nav {
        text-align: center;
    }
    
}